<template>
  <div class="wrapper">
    <div></div>
      <h2 class="title">DND Helper</h2>
      <div class="container">
        <Input icon="at" placeholder="Имя пользователя" v-model="username"/>
        <Input icon="lock" placeholder="Пароль" type="password" v-model="password"/>
        <ColorButton class="login" @click.native="() => { $store.dispatch('login', {username: username, passwd_hash: password})}" size="large" block title="Войти"/>
        <router-link to="/forgot">Забыл пароль</router-link>
      </div>
      <div class="container">
        <ColorButton @click.native="() => $router.push('/register')" class="login" color="transparent" size="large" block title="Регистрация"/>
      </div>
  </div>
</template>

<script>
import ColorButton from '@/components/ColorButton';
import Input from '@/components/Input';
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {ColorButton, Input}
})
export default class Auth extends Vue {
  data() {
    return {
      username: '',
      password: ''
    }
  }
}
</script>

<style scoped lang="scss">
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20vh 0;
    padding: 16px 0;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .title {
    color: #fff;
  }

  .login {
    width: 100%;
    font-size: 1rem;
  }
</style>