<template>
  <div class="home">
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
    <Card title="Приключение начинается!" body="Добрый вечер я диспетчер lorem ipsum dolor sit amed"></Card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import Card from '@/components/Card.vue';

@Component({
  components: {
    HelloWorld,
    Card
  },
})
export default class Home extends Vue {}
</script>
