<template>
  <div class="profile-wrapper">
    <h1 class="title">{{type}}, {{$store.state.username}}</h1>
    <div class="group">
      <ColorButton disabled class="wide-button" title="Персонажи" block icon="scroll" size="large" color="secondary"/>
      <ColorButton class="wide-button" title="Мои игры" block icon="history" size="large" color="secondary"/>
      <ColorButton class="wide-button" title="Режим мастера подземелий" block icon="dragon" size="large" color="gold"/>
    </div>
    <div class="group">
      <ColorButton class="wide-button" title="Настройки" block icon="cog" size="large" color="secondary"/>
      <ColorButton class="wide-button" title="Редактировать профиль" block icon="pen" size="large" color="secondary"/>
      <ColorButton class="wide-button" title="Способы оплаты" block icon="credit-card" size="large" color="secondary"/>
    </div>
    <ColorButton class="wide-button" title="Выйти из аккаунта" block icon="sign-out-alt" size="large" @click.native="$store.dispatch('logout')"/>
  </div>
</template>

<script>
import ColorButton from '@/components/ColorButton';
export default {
  name: "Profile",
  components: {
    ColorButton
  },
  data() {
    return {
      type: this.getGreet()
    }
  },
  methods: {
    getGreet() {
      const hours = new Date().getHours();
      if(hours >= 4 && hours <= 11) {
        return 'Доброе утро'
      } else if(hours >= 11 && hours <= 16) {
        return 'Добрый день'
      } else if(hours >= 16 && hours <= 21) {
        return 'Добрый вечер'
      } else {
        return 'Доброй ночи'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .title {
    color: #fff;
    text-align: left;
    font-size: 36px;
  }

  .profile-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px 0;
  }

  .group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px 0;
  }

  .wide-button {
    width: 100%;
  }
</style>