<template>
  <div class="wrapper">
    <div></div>
    <h1 class="logo">companion</h1>
    <div class="container">
      <Input :validator="username.length > 2" error-message="Имя пользователя должно быть длинее 2-х символов" icon="at" placeholder="Имя пользователя" v-model="username"/>
      <Input :validator="password.length >= 8" error-message="Пароль должен быть длинее 8-ми символов" icon="key" placeholder="Пароль" type="password" v-model="password"/>
      <Input :validator="password === rePassword" error-message="Пароли должны совпадать" icon="key" placeholder="Повторите пароль" type="password" v-model="rePassword"/>
      <Input :validator="validateEmail(email)" error-message="Почта должна быть формата example@mail.com" icon="envelope" placeholder="Электронная почта" type="email" v-model="email"/>
      <ColorButton class="login" @click.native="register" size="large" block title="Создать аккаунт" icon="plus"/>
      <ColorButton class="login" @click.native="() => { $router.push('/auth') }" size="large" block title="Уже есть аккаунт" color="secondary" icon="arrow-left"/>
    </div>
  </div>
</template>

<script>
import ColorButton from '@/components/ColorButton';
import Input from '@/components/Input';
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {ColorButton, Input}
})
export default class Register extends Vue {
  data() {
    return {
      username: '',
      password: '',
      rePassword: '',
      email: ''
    }
  }

  validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  register() {
    this.$store.dispatch('register', {
      username: this.username,
      password: this.password,
      email: this.email,
      state: 1
    })
  }
}
</script>

<style scoped lang="scss">
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    gap: 8px 0;
    padding: 16px 0;
  }

  .logo {
    font-family: Montserrat;
    font-weight: 800;
    color: #e55828;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .title {
    color: #fff;
  }

  .login {
    width: 100%;
    font-size: 1rem;
  }
</style>