<template>
  <div class="menu-wrapper">
    <router-link to="/" class="icon" active-class="active" exact><v-icon scale="1.5" name="fire"/></router-link>
    <router-link to="/quest" class="icon" active-class="active"><v-icon scale="1.5" name="dungeon"/></router-link>
    <router-link to="/tools" class="icon" active-class="active"><v-icon scale="1.5" name="dice-d20"/></router-link>
    <router-link to="/knowledge" class="icon" active-class="active"><v-icon scale="1.5" name="book"/></router-link>
    <router-link to="/profile" class="icon" active-class="active"><v-icon scale='1.5' name="user"/></router-link>
  </div>
</template>

<script>
export default {
name: "BottomNavigation"
}
</script>

<style lang="scss" scoped>
  .menu-wrapper {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
    z-index: 9999;
    box-shadow: 0 0 5px #000;
  }
  
  .icon {
    color: #fff;
    width: 24px;
    height: 24px;
    
    * {
      height: 100%;
    }

    &.active {
      color: #ff4500;
    }
  }
</style>