<template>
  <div class="card-wrapper">
    <h2 class="title">{{title}}</h2>
    <section class="body">
      {{body}}
    </section>
  </div>
</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class Card extends Vue {
  @Prop() private title!: string;
  @Prop() private body!: string;
}

</script>

<style lang="scss" scoped>
  .card-wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    min-height: 200px;
    margin: 10px 0;
  }

  .title {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 800;
  }

  .body {
    text-align: left;
    padding: 5px 0px;
  }
</style>