<template>
  <a
    :class="{
      button: true,
      noIcon: !icon,
      small: size === 'small',
      regular: size === 'regular',
      large: size === 'large',
      block: block,
      gold: color === 'gold',
      primary: color === 'primary',
      secondary: color === 'secondary',
      disabled: disabled,
      transparent: color == 'transparent'
    }"
  >
    <v-icon :name="icon" v-if="icon" />
    {{ title }}
    <div v-if="icon"></div>
  </a>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class ColorButton extends Vue {
  @Prop() private title!: string;
  @Prop() private icon!: string;
  @Prop() private size!: "small" | "regular" | "large";
  @Prop() private block!: boolean;
  @Prop() private color!: "primary" | "secondary" | "gold";
  @Prop() private disabled!: boolean;
}
</script>

<style scoped lang="scss">
.button {
  background-color: #ff4500;
  color: #fff;
  font-size: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 4px 4px;
  gap: 10px;

  &.noIcon {
    justify-content: center;
  }

  &.small {
    padding: 4px 8px;
  }

  &.regular {
    padding: 8px 16px;
  }

  &.large {
    padding: 16px 32px;
  }

  &.transparent {
    background-color: transparent;
    color: #ff4500;
  }

  &.block {
    width: 100%;
  }

  &.primary {
    background-color: #ff4500;
  }

  &.secondary {
    background-color: #efeeee;
    color: #ff4500;
  }

  &.gold {
    background-color: #e5b50d;
    color: #fff;
  }

  &.disabled {
    background-color: #efeeee;
    color: #c3c3c3;
  }
}

.icon {
  height: 12px;
}
</style>
