<template>
  <div :class="{errorWrapper: true, shown: $store.state.error.isShown}">
    {{$store.state.error.message}}
  </div>
</template>

<script>
export default {
name: "ErrorWrapper"
}
</script>

<style scoped lang="scss">
  .errorWrapper {
    width: 90%;
    padding: 8px 16px;
    background-color: #ff3300;
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 50%;
    transition: .3s;
    transform: translate(-50%, 0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    &.shown {
      top: 16px;
      transition: .3s;
    }
  }
</style>