<template>
  <div v-bind:class="{HeaderWrapper: true, scrolled: $store.state.scrolledHeader}" v-on:scroll="scrolled = true">
    <span class="title">{{$route.meta.title}}</span>
    <ColorButton v-if="$route.name == 'Home'" size="regular" icon="pen" title="Написать"/>
  </div>
</template>

<script lang="ts">
import ColorButton from './ColorButton.vue';
export default {
  name: "Header",
  components: {
    ColorButton
  }
}
</script>

<style scoped lang="scss">
  .HeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    box-sizing: border-box;

    .title {
      font-family: Montserrat, sans-serif;
      color: #ff4500;
      font-weight: 800;
      font-size: 2.5rem;
      text-transform: uppercase;
      vertical-align: middle;
      height: 100%;
    }

    &.scrolled {
      animation: resize 300ms;
    }
  }

  @keyframes resize {
    50% {
      font-size: 2rem;
    }

    100% {
      font-size: 1.5rem;
    }
  }
</style>