<template>
  <div class="inputWrapper">
    <div @click="showError" :class="{icon: true, error: !validator && value}"><v-icon scale="1.5" :name="icon"/></div>
    <input class="input" :type="type" :placeholder="placeholder" @input="handleInput">
  </div>
</template>

<script>
export default {
  name: "Input",
  props: ['type', 'placeholder', 'icon', 'validator', 'errorMessage'],
  methods: {
    handleInput(e) {
      this.value = e.target.value;
      this.$emit('input', e.target.value);
    },
    showError() {
      if(!this.validator && this.value) {
        this.$store.dispatch('showError', String(this.errorMessage));
      }
    }
  },
  data() {
    return {
      value: null
    }
  },
}
</script>

<style scoped lang="scss">
  .inputWrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    
    .icon {
      color: #c3c3c3;
      padding: 8px;
      width: 20%;
      background-color: #efeeee;
      display: flex;
      align-items: center;
      justify-content: center;

      &.error {
        color: #ff3300;
      }
    }

    .input {
      width: 80%;
      border: none;
      padding: 16px 8px;
      border-radius: 0 8px 8px 0;
      outline: none;
      text-align: left;
      font-size: 1rem;
    }
  }
</style>