<template>
  <div class="wrapper">
    <ErrorWrapper/>
    <Header v-if="$store.state.token"/>
    <div class="container">
      <router-view/>
    </div>
    <BottomNavigation v-if="$store.state.token"/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
  user-select: none !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
}

.container {
  padding: 0 10px;
  min-height: 100%;
}

.wrapper {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ff4500;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<script>
import { Component, Vue } from 'vue-property-decorator';
import BottomNavigation from "@/components/BottomNavigation";
import Header from "@/components/Header";
import ErrorWrapper from "@/components/ErrorWrapper";

export default {
  components: {Header, BottomNavigation, ErrorWrapper}
}

@Component
export class App extends Vue {
  constructor() {
    super();
    window.addEventListener('scroll', (e) => {
      this.scroll(e)
    })
  }

  scroll(e) {
    console.log(e)
    if(document.scrollTop > 10) {
      this.$store.commit('setScrolledHeader', true)
    } else {
      this.$store.commit('setScrolledHeader', false)
    }
  }


}

</script>